* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  font-family: "Times New Roman", Times, serif;
  overflow-x: hidden;
}

body {
  padding: 0 3vw;
  min-height: 100vh;
  background-color: white;
}

h1 {
  size: Bold 18px;
}

h2 {
  font-size: 17px;
  margin-bottom: 10px;
  color: grey;
}

p {
  font-size: 15px;
  margin-bottom: 20px;
  color: grey;
}

a {
  text-decoration: none;
  color: rgb(124, 124, 124);
  size: bold 12px;
}

header {
  display: flex;
  gap: 18%;
  flex-direction: row;
  justify-content: space-between;
  margin: var(--space-l-r);
  padding-top: 50px;
  margin-bottom: 100px;
}

.NL1 {
  display: flex;
  gap: 60px;
  margin-bottom: 40px;
}

main {
  margin: var(--space-r-l);
}

.C1 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 7px;
  margin-bottom: 10px;
}

img:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}

.CG1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
  max-width: 100%;
  width: 100%;
  margin-bottom: 100px;
}

.CG1 div {
  display: flex;
  flex-direction: column;
}

.CG1 img {
  width: 100%;
  height: auto;
  border-radius: 7px;
}

.TG1 {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
}

.TG1 div {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.TG1 h2 {
  display: inline-block;
}

footer {
  margin: var(--space-l-r);
}

footer section:first-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: left;
  justify-items: center;
  margin-bottom: 45px;
}

footer h3 {
  font-size: 1.3em;
  margin-bottom: 18px;
}

footer p,
footer ul {
  font-size: 0.9em;
  color: grey;
  margin: 0;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 5px;
}

footer ul li a {
  color: grey;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

footer section:last-child {
  text-align: start;
  font-size: 0.8em;
  color: grey;
  margin-bottom: 22px;
}

.An1 {
  display: inline-block;
  position: relative;
}
.An1 > span {
  cursor: default;
  font-size: 12px;
}
.An1 > hr {
  transition: width 0.5s ease-out;
  width: 100%;
  float: left;
  border-style: solid;
  background: #000;
  height: 1px;
  margin: -1;
}
.An1:hover > hr {
  width: 0%;
  float: right;
}
